[submodule "client/3rd/wireguard-tools"]
	path = client/3rd/wireguard-tools
	url = https://github.com/WireGuard/wireguard-tools/
[submodule "client/3rd/wireguard-apple"]
	path = client/3rd/wireguard-apple
	url = https://github.com/WireGuard/wireguard-apple
[submodule "client/3rd/OpenVPNAdapter"]
	path = client/3rd/OpenVPNAdapter
	url = https://github.com/amnezia-vpn/OpenVPNAdapter.git
[submodule "client/3rd/ShadowPath"]
	path = client/3rd/ShadowPath
	url = https://github.com/qman9501/ShadowPath
[submodule "client/3rd/outline-go-tun2socks"]
	path = client/3rd/outline-go-tun2socks
	url = https://github.com/Jigsaw-Code/outline-go-tun2socks.git
[submodule "client/3rd/CocoaAsyncSocket"]
	path = client/3rd/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "client/3rd/CocoaLumberjack"]
	path = client/3rd/CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "client/3rd/qtkeychain"]
	path = client/3rd/qtkeychain
	url = https://github.com/frankosterfeld/qtkeychain.git
[submodule "client/3rd/libssh"]
	path = client/3rd/libssh
	url = https://git.libssh.org/projects/libssh.git/
[submodule "client/3rd/zlib"]
	path = client/3rd/zlib
	url = https://github.com/madler/zlib.git
[submodule "client/3rd/SortFilterProxyModel"]
	path = client/3rd/SortFilterProxyModel
	url = https://github.com/mitchcurtis/SortFilterProxyModel.git
[submodule "client/android/cpp/openvpn3"]
	path = client/android/cpp/openvpn3
	url = https://github.com/amnezia-vpn/openvpn3.git
[submodule "client/android/cpp/asio"]
	path = client/android/cpp/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "client/android/cpp/lz4"]
	path = client/android/cpp/lz4
	url = https://github.com/lz4/lz4.git
[submodule "client/android/cpp/mbedtls"]
	path = client/android/cpp/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "client/android/cpp/openvpn"]
	path = client/android/cpp/openvpn
	url = https://github.com/schwabe/openvpn.git
[submodule "client/android/cpp/openssl"]
	path = client/android/cpp/openssl
	url = https://github.com/schwabe/platform_external_openssl.git
[submodule "client/android/cpp/cloak"]
	path = client/android/cpp/cloak
	url = https://github.com/amnezia-vpn/Cloak
[submodule "client/android/cpp/lzo"]
	path = client/android/cpp/lzo
	url = https://github.com/amnezia-vpn/lzo.git
[submodule "client/3rd/mbedtls"]
	path = client/3rd/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
