[submodule "client/3rd/OpenVPNAdapter"]
	path = client/3rd/OpenVPNAdapter
	url = https://github.com/amnezia-vpn/OpenVPNAdapter.git
[submodule "client/3rd/qtkeychain"]
	path = client/3rd/qtkeychain
	url = https://github.com/frankosterfeld/qtkeychain.git
[submodule "client/3rd/SortFilterProxyModel"]
	path = client/3rd/SortFilterProxyModel
	url = https://github.com/mitchcurtis/SortFilterProxyModel.git
[submodule "client/3rd-prebuilt"]
	path = client/3rd-prebuilt
	url = https://github.com/zloserver/zlovpn-3rd-prebuilt.git
[submodule "client/3rd/amneziawg-apple"]
	path = client/3rd/amneziawg-apple
	url = https://github.com/zloserver/amneziawg-apple
[submodule "client/3rd/QSimpleCrypto"]
	path = client/3rd/QSimpleCrypto
	url = https://github.com/amnezia-vpn/QSimpleCrypto.git
[submodule "client/3rd/Cactus"]
	path = client/3rd/Cactus
	url = git@github.com:zloserver/Cactus.git
[submodule "service/server/3rd/SecureXPC"]
	path = service/server/3rd/SecureXPC
	url = https://github.com/zloserver/SecureXPC.git
