{
	servers {
		protocols h1 h2 h3
	}
}

http://srv.frakebit.com {
	redir https://srv.frakebit.com{uri} 308
}

https://srv.frakebit.com {
	tls /data/fullchain.pem /data/privkey.pem

	log {
		output stdout
		format json
	}

	@backend {
		path /api /api/* /api/** /admin /admin/* /admin/** /health
	}

	handle @backend {
		reverse_proxy vpn-backend:8081 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}

	handle {
		reverse_proxy bot:8080 {
			header_up Host {host}
			header_up X-Real-IP {remote}
			lb_try_duration 5s
			lb_try_interval 250ms
		}
	}
}
