#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_ICON1               ICON                    "../images/app.ico"

#define VER_FILEVERSION             1,7,0,0
#define VER_FILEVERSION_STR         "1.7.0.0\0"

#define VER_PRODUCTVERSION          1,7,0,0
#define VER_PRODUCTVERSION_STR      "1.7.0.0\0"

#define VER_COMPANYNAME_STR         "AmneziaVPN"
#define VER_FILEDESCRIPTION_STR     "AmneziaVPN"
#define VER_INTERNALNAME_STR        "AmneziaVPN"
#define VER_LEGALCOPYRIGHT_STR      "AmneziaVPN."
#define VER_LEGALTRADEMARKS1_STR    "All Rights Reserved"
#define VER_LEGALTRADEMARKS2_STR    VER_LEGALTRADEMARKS1_STR
#define VER_ORIGINALFILENAME_STR    "amneziavpn.exe"
#define VER_PRODUCTNAME_STR         "AmneziaVPN"

#define VER_COMPANYDOMAIN_STR       "https://amnezia.org/"

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        VER_COMPANYNAME_STR
            VALUE "FileDescription",    VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       VER_INTERNALNAME_STR
            VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
            VALUE "LegalTrademarks1",   VER_LEGALTRADEMARKS1_STR
            VALUE "LegalTrademarks2",   VER_LEGALTRADEMARKS2_STR
            VALUE "OriginalFilename",   VER_ORIGINALFILENAME_STR
            VALUE "ProductName",        VER_PRODUCTNAME_STR
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
