<receiver android:name=".AmneziaWidgetProvider" android:exported="true">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="org.amnezia.vpn.ACTION_TOGGLE_VPN" />
        <action android:name="org.amnezia.vpn.ACTION_UPDATE_WIDGET_STATE" />
    </intent-filter>
    <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_info" />
</receiver>