#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=AmneziaVPN client
Comment=AmneziaVPN client
Exec=/home/dev/github/amnezia/AppDir/build_release_v2/client/bin/AmneziaVPN
Icon=AmneziaVPN_Logo.png
Categories=VPN
