[Unit]
Description=VPNNaruzhu Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/VPNNaruzhu/service/VPNNaruzhu-service.sh
Environment=LD_LIBRARY_PATH=/opt/VPNNaruzhu/client/lib

[Install]
WantedBy=multi-user.target
