[Unit]
Description=AmneziaVPN Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/AmneziaVPN/service/AmneziaVPN-service.sh
Environment=LD_LIBRARY_PATH=/opt/AmneziaVPN/client/lib

[Install]
WantedBy=multi-user.target
