[Unit]
Description=FBLink VPN Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /opt/FBLinkVPN/service/FBLinkVPN-service.sh
Environment=LD_LIBRARY_PATH=/opt/FBLinkVPN/client/lib

[Install]
WantedBy=multi-user.target
