<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>

	<key>CFBundleAllowMixedLocalizations</key>
	<true/>

	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>

	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>

	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>

	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>

	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>

	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>

	<key>LSMultipleInstancesProhibited</key>
	<true/>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>conf</string>
				<string>vpn</string>
				<string>ovpn</string>
				<string>backup</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AmneziaVPN configuration file</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.amnezia.AmneziaVPN.amnezia-config</string>
				<string>org.amnezia.AmneziaVPN.wireguard-config</string>
				<string>org.amnezia.AmneziaVPN.openvpn-config</string>
				<string>org.amnezia.AmneziaVPN.backup-config</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
