<?xml version="1.0" encoding="UTF-8"?>
<?ifndef Platform?>
<?define Platform = x64?>
<?endif?>
<?if $(var.Platform) = x64 ?>
<?define WixQuietExecEntry = WixQuietExec64?>
<?else?>
<?define WixQuietExecEntry = WixQuietExec?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="AmneziaVPN"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="AmneziaVPN"
           UpgradeCode="{2D55AC62-96D6-4692-8C05-0D85BBF95485}">

    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             InstallPrivileges="elevated" />

    <MajorUpgrade AllowDowngrades="yes"
                  Schedule="afterInstallInitialize" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <Property Id="MSIRMSHUTDOWN" Value="2" />
    <Property Id="REBOOT" Value="ReallySuppress" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.SourceDir)\AmneziaVPN.ico" />
    <Binary Id="WixCA" SourceFile="$(var.WixToolPath)\WixCA.dll" />

    <Feature Id="MainFeature" Title="AmneziaVPN" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>

    <CustomAction Id="SetKillAmneziaVPNCommand"
                  Property="WixQuietExecCmdLine"
                  Value="&quot;taskkill&quot; /F /IM AmneziaVPN.exe /T"
                  Return="check" />

    <CustomAction Id="KillAmneziaVPN"
                  BinaryKey="WixCA"
                  DllEntry="$(var.WixQuietExecEntry)"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="SetKillAmneziaVPNCommand" Before="InstallInitialize">NOT Installed OR REINSTALL OR REMOVE~="ALL"</Custom>
      <Custom Action="KillAmneziaVPN" After="SetKillAmneziaVPNCommand">NOT Installed OR REINSTALL OR REMOVE~="ALL"</Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
<?if $(var.Platform) = x64 ?>
      <Directory Id="ProgramFiles64Folder">
<?else?>
      <Directory Id="ProgramFilesFolder">
<?endif?>
        <Directory Id="INSTALLFOLDER" Name="AmneziaVPN" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>

