<?xml version="1.0" encoding="UTF-8"?>
<?ifndef Platform?>
<?define Platform = x64?>
<?endif?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package InstallerVersion="500"
           Compressed="yes"
           InstallScope="perMachine">
    <Product Id="*"
             Name="AmneziaVPN"
             Language="1033"
             Version="$(var.ProductVersion)"
             Manufacturer="AmneziaVPN"
             UpgradeCode="{2D55AC62-96D6-4692-8C05-0D85BBF95485}">

    <MajorUpgrade AllowDowngrades="yes"
                  Schedule="afterInstallInitialize" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <Property Id="MSIRMSHUTDOWN" Value="2" />
    <Property Id="REBOOT" Value="ReallySuppress" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.SourceDir)\AmneziaVPN.ico" />

    <Feature Id="MainFeature" Title="AmneziaVPN" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>

    <util:CloseApplication Id="CloseAmneziaVPN"
                          Target="AmneziaVPN.exe"
                          Description="Closing AmneziaVPN before installation"
                          CloseMessage="yes"
                          RebootPrompt="no"
                          Timeout="5"
                          TerminateOnTimeout="yes" />

    <InstallExecuteSequence>
      <Custom Action="CloseAmneziaVPN" Before="InstallInitialize">NOT Installed OR REINSTALL OR REMOVE~="ALL"</Custom>
    </InstallExecuteSequence>
  </Product>
  </Package>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
<?if $(var.Platform) = x64 ?>
      <Directory Id="ProgramFiles64Folder">
<?else?>
      <Directory Id="ProgramFilesFolder">
<?endif?>
        <Directory Id="INSTALLFOLDER" Name="AmneziaVPN" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>

